// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

$width_mobile: 375px;
$width_desktop: 1440px;
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$color_primary: hsl(300, 43%, 22%);
$color_accent: hsl(333, 80%, 67%);
$color_gray: hsl(303, 10%, 53%);
$color_light: hsl(300, 24%, 96%);
$color_white: hsl(0, 0%, 100%);

$font_size: 15px;

// Very Dark Magenta: hsl(300, 43%, 22%)
// Soft Pink: hsl(333, 80%, 67%)

// ### Neutral

// Dark Grayish Magenta: hsl(303, 10%, 53%)
// Light Grayish Magenta: hsl(300, 24%, 96%)
// White: hsl(0, 0%, 100%)

// ## Typography

// ### Body Copy

// - Font size: 15px

// ### Font

// - Family: [Spartan](https://fonts.google.com/specimen/Spartan)
// - Weights: 400, 500, 700
