.main {
  width: 100%;
  height: 100vh;
  background-color: $color-primary-cyan;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    background: url(/images/bg-pattern-top.svg) 100% no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    position: absolute;
    z-index: -1;
  }
  &::after {
    content: "";
    background: url(/images/bg-pattern-bottom.svg) 100% no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    bottom: -50%;
    right: -50%;
    position: absolute;
    z-index: -1;
  }

  & * {
    z-index: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
